p {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-inline: 5px;
    border-radius: 5px;
    width: fit-content;

    .badge {
        width: 5px;
        height: 5px;
        border-radius: 50%;

        &.low {
            background-color: #f7d810;
        }
        &.medium {
            background-color: #f3a10a;
        }
        &.high {
            background-color: #fc3939;
        }
    }

    &.low {
        color: #f7d810;
    }

    &.medium {
        color: #f3a10a;
    }
    &.high {
        color: #fc3939;
    }
}