@use '@angular/material' as mat;

:root {
  @include mat.table-overrides(
    (
      background-color: transparent,
      header-headline-color: oklch(55.6% 0 0),
      header-headline-size: '.8rem',
      header-container-height: '35px',
      header-headline-weight: 500,
      row-item-outline-color: #d9e1ec,
      row-item-label-text-size: '13px',
      row-item-label-text-weight: 400,
    )
  );
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-mdc-header-row {
  background: #c4c4c433 !important;
}
